
<div class="sidebar">
  <div class="row sidebar-section">
    <div class="col-xs-4">
      <h3>Monsters</h3>
    </div>
    <div class="col-xs-8 text-right">
      <button data-toggle="tooltip" title=" New Monster" class="monster__add_btn glyphicon glyphicon-plus"></button>
    </div>
  </div>
  <div class="row affix">
    <div class="monsters"></div>
  </div>
</div>
<div class="game-wrapper">
  <div class="row text-left game-header">
    <div class="col-xs-4">
      <h3>The Battle</h3>
    </div>
    <div class="col-xs-8 text-right">
      <button data-toggle="tooltip" title="Add All Player" class="players__add_btn glyphicon glyphicon-user"></button>
      <button data-toggle="tooltip" title="Pass Turn" class="turn__next_btn glyphicon glyphicon-step-forward"></button>
      <button data-toggle="tooltip" title="End Combat" class="glyphicon glyphicon-stop"></button>
    </div>
  </div>
  <div class="game dm-view row affix"></div>
</div>