
<div class="container">
  <div class="row text-center">
    <h1>Fear the Dice </h1>
    <button class="players__add_btn">Add Player</button>
    <button class="monster__add_btn">Add Monster</button>
  </div>
  <div class="row text-center">
    <button class="turn__next_btn">Pass Turn </button>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h3>Monsters</h3>
      <div class="monsters"></div>
      <h3>Players</h3>
      <div class="players"></div>
    </div>
    <div class="col-md-10">
      <div class="game dm-view"></div>
    </div>
  </div>
</div>