
<div class="row">
  <div class="col-xs-12 text-center">
    <h2>Edit Monster</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-right">
    <button class="new-monster__save glyphicon glyphicon-floppy-save"></button>
    <button class="new-monster__save glyphicon glyphicon-remove"></button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-md-12 text-center"><span class="monster__name">Name:</span><span class="monster__name--edit">
          <input value="{{monster}}" class="input__monster"/></span></div>
    </div>
    <div class="row">
      <div class="col-xs-2"><span stat="ac" class="monster__stat">AC:</span><span class="monster__stat--edit">
          <input stat="ac" type="number" value="{{ac}}" class="input__stat"/></span></div>
      <div class="col-xs-2"><span stat="hp" class="monster__stat">HP:</span><span class="monster__stat--edit">
          <input stat="hp" type="number" value="{{hp}}" class="input__stat"/></span></div>
      <div class="col-xs-2"><span stat="speed" class="monster__stat">Speed:</span><span class="monster__stat--edit">
          <input stat="speed" value="{{speed}}" class="input__stat"/></span></div>
      <div class="col-xs-2"><span stat="str" class="monster__stat">STR:</span><span class="monster__stat--edit">
          <input stat="str" value="{{str}}" class="input__stat"/></span></div>
      <div class="col-xs-2"><span stat="dex" class="monster__stat">DEX:</span><span class="monster__stat--edit">
          <input stat="dex" value="{{dex}}" class="input__stat"/></span></div>
      <div class="col-xs-2"><span stat="con" class="monster__stat">CON:</span><span class="monster__stat--edit">
          <input stat="con" value="{{con}}" class="input__stat"/></span></div>
    </div>
    <div class="row">
      <div class="col-xs-2"><span stat="int" class="monster__stat">INT:</span><span class="monster__stat--edit">
          <input stat="int" value="{{int}}" class="input__stat"/></span></div>
      <div class="col-xs-2"><span stat="wis" class="monster__stat">WIS:</span><span class="monster__stat--edit">
          <input stat="wis" value="{{wis}}" class="input__stat"/></span></div>
      <div class="col-xs-2"><span stat="cha" class="monster__stat">CHA:</span><span class="monster__stat--edit">
          <input stat="cha" value="{{cha}}" class="input__stat"/></span></div>
      <div class="col-xs-2"><span stat="xp" class="monster__stat">XP:</span><span class="monster__stat--edit">
          <input stat="xp" value="{{xp}}" class="input__stat"/></span></div>
    </div>
  </div>
</div>