
<div class="col-md-5 col-sm-12"><span class="sidebar__name">{{monster}}</span></div>
<div class="col-md-4 col-sm-9"><span class="sidebar__stat">AC:</span><span class="sidebar__stat--value">{{ac}}</span><span class="sidebar__stat">HP:</span><span class="sidebar__stat--value">{{hp}}</span></div>
<div class="col-xs-3"><i data-toggle="tooltip" title="Edit" class="glyphicon glyphicon-pencil"></i><i data-toggle="tooltip" title="Remove" class="glyphicon glyphicon-remove"></i><i data-toggle="tooltip" title="Add" class="glyphicon glyphicon-chevron-right"></i></div>