
<div class="col-xs-11">
  <div class="row"></div>
  <h2 class="monster__name--locked">{{monster}}</h2>
  <div class="row"></div>
  <div class="col-xs-4"><span stat="initiative" class="monster__stat--locked">Initiative:</span><span class="monster__stat--value--locked">{{initiative}}</span></div>
  <div class="col-xs-4"><span stat="damage" class="monster__stat--locked">Damage Taken:</span><span class="monster__stat--value--locked">{{damage}}</span></div>
</div>
<div class="col-xs-1">
  <div class="row"></div>
  <button data-toggle="tooltip" title="Hit Me!" class="glyphicon glyphicon-fire monster__hit"></button><span class="monster__hit--edit">
    <input type="number" value="0" class="input__hit"/><i class="glyphicon glyphicon-check"></i></span>
</div>