
<div class="col-md-3"><img src="{{thumb}}" class="player__thumb"/></div>
<div class="col-md-6">
  <div class="row">
    <h2 class="character__name">{{character}}</h2><span class="character__name--edit">
      <input class="input__character"/><i class="glyphicon glyphicon-check"></i></span>
    <h3 class="player__name">({{name}})</h3><span class="player__name--edit">
      <input class="input__player"/><i class="glyphicon glyphicon-check"></i></span>
  </div>
  <div class="row">
    <div class="col-md-4"><span stat="initiative" class="player__stat">Initiative:</span><span class="player__stat--value">{{initiative}}</span><span class="player__stat--edit">
        <input type="number" class="input__stat"/><i class="glyphicon glyphicon-check"></i></span></div>
    <div class="col-md-4"><span stat="ac" class="player__stat">AC:</span><span class="player__stat--value">{{ac}}</span><span class="player__stat--edit">
        <input type="number" class="input__stat"/><i class="glyphicon glyphicon-check"></i></span></div>
    <div class="col-md-4"><span stat="speed" class="player__stat">Speed:</span><span class="player__stat--value">{{speed}}</span><span class="player__stat--edit">
        <input type="number" class="input__stat"/><i class="glyphicon glyphicon-check"></i></span></div>
  </div>
  <div class="row">
    <div class="col-md-4"><span stat="hp" class="player__stat">HP:</span><span class="player__stat--value">{{hp}}</span><span class="player__stat--edit">
        <input type="number" class="input__stat"/><i class="glyphicon glyphicon-check"></i></span></div>
    <div class="col-md-4"><span stat="damage" class="player__stat">Damage Taken:</span><span class="player__stat--value">{{damage}}</span></div>
    <div class="col-md-4"><span stat="health" class="player__stat">Current Health:</span><span class="player__stat--value">{{health}}</span></div>
  </div>
</div>
<div class="col-md-3">
  <div class="row">
    <button class="player__hit">Hit Me!</button><span class="player__hit--edit">
      <input type="number" value="0" class="input__hit"/><i class="glyphicon glyphicon-check"></i></span>
  </div>
  <div class="row">
    <button class="player__heal">Heal Me!</button><span class="player__heal--edit">
      <input type="number" value="0" class="input__heal"/><i class="glyphicon glyphicon-check"></i></span>
  </div>
  <div class="row">
    <button class="player__delete">Delete Me!</button>
  </div>
</div>