
<div class="col-md-3"><img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/140.jpg" class="player__thumb"/></div>
<div class="col-md-6">
  <div class="row">
    <h2 class="player__name">{{character}}</h2><span class="player__name--edit">
      <input class="input__name"/><i class="glyphicon glyphicon-check"></i></span>
    <h3 class="player__name">({{name}})</h3><span class="player__name--edit">
      <input class="input__player"/><i class="glyphicon glyphicon-check"></i></span>
  </div>
  <div class="row">
    <div class="col-md-4"><span stat="initiative" class="player__stat">Initiative:</span><span class="player__stat--value">{{initiative}}</span><span class="player__stat--edit">
        <input type="number" class="input__stat"/><i class="glyphicon glyphicon-check"></i></span></div>
    <div class="col-md-4"><span stat="damage" class="player__stat">Damage Taken:</span><span class="player__stat--value">{{damage}}</span></div>
  </div>
</div>
<div class="col-md-3">
  <div class="row">
    <button class="player__control">Take Control</button>
  </div>
  <div class="row">
    <button class="player__hit">Hit Me!</button><span class="player__hit--edit">
      <input type="number" value="0" class="input__hit"/><i class="glyphicon glyphicon-check"></i></span>
  </div>
</div>