
<div class="col-md-3"><img src="{{thumb}}" class="player__thumb"/></div>
<div class="col-md-8">
  <div class="row">
    <h2 class="character__name">{{character}}</h2><span class="character__name--edit">
      <input class="input__character"/><i class="glyphicon glyphicon-check"></i></span>
    <h3 class="player__name">({{name}})</h3><span class="player__name--edit">
      <input class="input__player"/><i class="glyphicon glyphicon-check"></i></span>
  </div>
  <div class="row">
    <div class="col-md-4"><span stat="ac" class="player__stat lead">AC:</span><span class="player__stat--value lead">{{ac}}</span><span class="player__stat--edit">
        <input type="number" class="input__stat"/><i class="glyphicon glyphicon-check"></i></span></div>
    <div class="col-md-4"><span stat="hp" class="player__stat lead">HP:</span><span class="player__stat--value lead">{{hp}}</span><span class="player__stat--edit">
        <input type="number" class="input__stat"/><i class="glyphicon glyphicon-check"></i></span></div>
    <div class="col-md-4"><span stat="speed" class="player__stat--locked lead">Speed:</span><span class="player__stat--value--locked lead">{{speed}}</span><span class="player__stat--edit">
        <input type="number" class="input__stat"/><i class="glyphicon glyphicon-check"></i></span></div>
  </div>
  <div class="row">
    <div class="col-md-4"><span stat="initiative" class="player__stat">Initiative:</span><span class="player__stat--value">{{initiative}}</span><span class="player__stat--edit">
        <input type="number" class="input__stat"/><i class="glyphicon glyphicon-check"></i></span></div>
    <div class="col-md-4"><span stat="damage" class="player__stat--locked">Damage Taken:</span><span class="player__stat--value--locked">{{damage}}</span></div>
    <div class="col-md-4"><span stat="health" class="player__stat--locked">Current Health:</span><span class="player__stat--value--locked">{{health}}</span></div>
  </div>
</div>
<div class="col-md-1">
  <div class="row">
    <button alt="Hit Me!" class="glyphicon glyphicon-fire player__hit"></button><span class="player__hit--edit">
      <input type="number" value="0" class="input__hit"/><i class="glyphicon glyphicon-check"></i></span>
  </div>
  <div class="row">
    <button alt="Heal Me!" class="glyphicon glyphicon-heart player__heal"></button><span class="player__heal--edit">
      <input type="number" value="0" class="input__heal"/><i class="glyphicon glyphicon-check"></i></span>
  </div>
  <div class="row">
    <button alt="Delete Me!" class="glyphicon glyphicon-remove player__delete"></button>
  </div>
</div>